@page "/"

<PageTitle>Home</PageTitle>

<section>
    <div class="title-bar">
        <div class="title">
            <h1>Dashboard</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="buttons">
            <button><i class="fas fa-search"></i></button>
            <button>6 march 2025</button>
            <button>create report</button>
        </div>
    </div>

    <div class="cards">
        <div class="chart-layout">
            <div class="left-columnt">
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="chart"></div>
        </div>
        <div class="other">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</section>