@page "/not-found"

<div class="not-found-container">
    <div class="not-found-card">
        <h1>404</h1>
        <p class="message">Oops! The page you're looking for doesn't exist.</p>
        <a href="/" class="go-home-btn">Go to Home</a>
    </div>
</div>
