.sidebar[b-hiucpstbi9] {
    width: 250px;
    height: 100vh   ;
    background-color: #1e1f29;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.sidebar-header[b-hiucpstbi9] {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #00d8ff;
    letter-spacing: 1px;
}

.sidebar-menu[b-hiucpstbi9] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-link[b-hiucpstbi9] {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
    font-weight: 500;
}

.sidebar-link i[b-hiucpstbi9] {
    margin-right: 8px;
}

.sidebar-link:hover[b-hiucpstbi9],
.sidebar-link.active[b-hiucpstbi9] {
    background: rgba(255, 255, 255, 0.1);
    color: #00d8ff;
}
