@inherits LayoutComponentBase

<main class="page">
    <NET9.BlazorWebAppServerGlobal.Client.App.Components.Sidebar />

    <section>
        <NET9.BlazorWebAppServerGlobal.Client.App.Components.Header />
        <section class="main-view">
            @Body
        </section>
    </section>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>