@inherits LayoutComponentBase

<div class="page">
    <Sidebar isSibebarOpen="isSibebarOpen" />

    <main class="main">
        <div class="top-nav">
            <button @onclick="ToggleSidebar">menu</button>
            <a href="https://github.com/usmonovshohruxmirzo/student-dashboard-blazor" target="_blank">Github</a>
        </div>

        <section class="main-view">
            @Body
        </section>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isSibebarOpen = true;

    private void ToggleSidebar()
    {
        isSibebarOpen = !isSibebarOpen;
        StateHasChanged();
    }
}