@inject NavigationManager Navigation

<aside>
    <div class="logo">
        <img src="/favicon.png" alt="" width="50" height="40">
    </div>
    <nav>
        <ul>
            <li class="active"><a href="#"><i class="fas fa-home"></i></a></li>
            <li><a href="#"><i class="fas fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li><a href="#"><i class="fas fa-cog"></i></a></li>
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </nav>
</aside>

@code {
    [Parameter]
    public bool isSibebarOpen { get; set; }
}

@code {
    public class NavItem
    {
        public required string Text { get; set; }
        public required string IconClass { get; set; }
        public required string Href { get; set; }
        public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    }

    readonly List<NavItem> MenuItems = new()
    {
        new NavItem { Text = "Home", Href = "", IconClass = "fas fa-user", Match = NavLinkMatch.All },
        new NavItem { Text = "Counter", Href = "counter", IconClass = "fas fa-user" },
        new NavItem { Text = "Weather", Href = "weather", IconClass = "fas fa-user" }
    };

    string pageName = "";

    protected override void OnInitialized()
    {
        PageNameChanger();
    }

    void PageNameChanger()
    {
        var uri = Navigation.Uri;
        var relativePath = Navigation.ToBaseRelativePath(uri);
        if (string.IsNullOrEmpty(relativePath))
        {
            pageName = "Home";
        }
        else
        {
            string path = relativePath.Split("/")[0];
            pageName = char.ToUpper(path[0]) + path[1..];
        }
    }
}
