<header>
    <nav>
        <ul>
            <li class="active"><a href="">dashboard</a></li>
            <li><a href="">analytics</a></li>
            <li><a href="">data</a></li>
            <li><a href="">pulse</a></li>
        </ul>
    </nav>

    <div class="right">
        <button class="theme-switcher @(isDarkMode ? "active" : "")" @onclick="ThemeChanger">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </button>
        <button><i class="fas fa-share"></i> share</button>
        <button><i class="fas fa-bell"></i></button>
        <button>
            <img src="https://avatars.githubusercontent.com/u/51257495?v=4" alt="avatar" />
        </button>
    </div>
</header>

@code {
    private bool isDarkMode = true;
    private string theme = string.Empty;

    protected override void OnInitialized()
    {
        theme = isDarkMode ? "dark" : "light";
    }

    private void ThemeChanger()
    {
        isDarkMode = !isDarkMode;
        theme = isDarkMode ? "dark" : "light";
    }
}