/* _content/StudentManagementSystem/Components/Layout/Header.razor.rz.scp.css */
section header[b-y0ufk1vmgr] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    background-color: #EFEEF1;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

section header nav ul[b-y0ufk1vmgr] {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

section header nav ul li[b-y0ufk1vmgr] {
    padding: 15px 20px;
    border-radius: 50px;
    background-color: var(--primary);
}

section header nav ul li a[b-y0ufk1vmgr] {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.right[b-y0ufk1vmgr] {
    display: flex;
    gap: 10px;
}


.right button[b-y0ufk1vmgr] {
    padding: 20px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.right .theme-switcher[b-y0ufk1vmgr] {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #E5E7E9;
}

.right .theme-switcher i[b-y0ufk1vmgr] {
    z-index: 1;
}


.right .theme-switcher[b-y0ufk1vmgr]::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.right .theme-switcher.active[b-y0ufk1vmgr]::before {
    left: 50px; 
}
/* _content/StudentManagementSystem/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-4nwqtnbnv8] {
    display: flex;
    height: calc(100vh - 20px);
    overflow: hidden;
    background: #EFEEF1;
    border-radius: 30px;
}

section[b-4nwqtnbnv8] {
    width: 100%;
    padding: 20px;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}


#blazor-error-ui[b-4nwqtnbnv8] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-4nwqtnbnv8] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/StudentManagementSystem/Components/Layout/Sidebar.razor.rz.scp.css */
aside[b-hiucpstbi9] {
    width: 100px;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

aside .logo[b-hiucpstbi9] {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

aside nav ul[b-hiucpstbi9] {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _content/StudentManagementSystem/Components/Pages/Home.razor.rz.scp.css */
section[b-ntxkgl2l19] {
    padding-right: 20px;
}

.title-bar[b-ntxkgl2l19] {
    display: flex;
    justify-content: space-between;
}

    .title-bar .title h1[b-ntxkgl2l19] {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
    }


    .title-bar .title p[b-ntxkgl2l19] {
        margin: 0;
    }

    .title-bar .buttons[b-ntxkgl2l19] {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .title-bar .buttons button[b-ntxkgl2l19] {
            border-radius: 50px;
            height: 50px;
            font-size: 18px;
            border: none;
            padding: 15px 20px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .title-bar .buttons button:first-child[b-ntxkgl2l19] {
                padding: 20px;
            }

.cards[b-ntxkgl2l19] {
    border-radius: 30px;
    background-color: #EFECF5;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .cards .cards[b-ntxkgl2l19] {
        background-color: #fff;
    }

.chart-layout[b-ntxkgl2l19] {
    display: flex;
    width: 100%;
    height: 600px;
    gap: 20px;
}

    .chart-layout .left-columnt[b-ntxkgl2l19] {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .chart-layout .left-columnt .card[b-ntxkgl2l19] {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 30px;
        }

    .chart-layout .chart[b-ntxkgl2l19] {
        width: 121%;
        height: 100%;
        background-color: #fff;
        border-radius: 30px;
    }

.other[b-ntxkgl2l19] {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);
}

    .other .card[b-ntxkgl2l19] {
        background-color: #fff;
        border-radius: 30px;
    }
