@inject NavigationManager Navigation

<aside>
    <div class="logo">
        <img src="/favicon.png" alt="" width="50" height="50">
    </div>
    <nav>
        <ul>
            @foreach (var item in MenuItems)
            {
                <li>
                    <NavLink href="@item.Href" class="nav-link" Match="@item.Match">
                        <i class="@item.IconClass"></i>
                    </NavLink>
                </li>
            }
        </ul>
    </nav>
</aside>


@code {
    [Parameter]
    public bool isSibebarOpen { get; set; }
}

@code {
    public class NavItem
    {
        public required string IconClass { get; set; }
        public required string Href { get; set; }
        public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    }

    readonly List<NavItem> MenuItems = new()
    {
        new NavItem { Href = "", IconClass = "fas fa-home", Match = NavLinkMatch.All },
        new NavItem { Href = "counter", IconClass = "fas fa-user" },
        new NavItem { Href = "messages", IconClass = "fas fa-envelope" },
        new NavItem { Href = "settings", IconClass = "fas fa-cog" },
        new NavItem { Href = "notifications", IconClass = "fas fa-bell" },
        new NavItem { Href = "search", IconClass = "fas fa-search" },
        new NavItem { Href = "logout", IconClass = "fas fa-sign-out-alt" }
    };

    string pageName = "";

    protected override void OnInitialized()
    {
        PageNameChanger();
    }

    void PageNameChanger()
    {
        var uri = Navigation.Uri;
        var relativePath = Navigation.ToBaseRelativePath(uri);
        if (string.IsNullOrEmpty(relativePath))
        {
            pageName = "Home";
        }
        else
        {
            string path = relativePath.Split("/")[0];
            pageName = char.ToUpper(path[0]) + path[1..];
        }
    }
}
