section[b-ntxkgl2l19] {
    padding-right: 20px;
}

.title-bar[b-ntxkgl2l19] {
    display: flex;
    justify-content: space-between;
}

    .title-bar .title h1[b-ntxkgl2l19] {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
    }


    .title-bar .title p[b-ntxkgl2l19] {
        margin: 0;
    }

    .title-bar .buttons[b-ntxkgl2l19] {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .title-bar .buttons button[b-ntxkgl2l19] {
            border-radius: 50px;
            height: 50px;
            font-size: 18px;
            border: none;
            padding: 15px 20px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .title-bar .buttons button:first-child[b-ntxkgl2l19] {
                padding: 20px;
            }

.cards[b-ntxkgl2l19] {
    border-radius: 30px;
    background-color: #EFECF5;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .cards .cards[b-ntxkgl2l19] {
        background-color: #fff;
    }

.chart-layout[b-ntxkgl2l19] {
    display: flex;
    width: 100%;
    height: 600px;
    gap: 20px;
}

    .chart-layout .left-columnt[b-ntxkgl2l19] {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .chart-layout .left-columnt .card[b-ntxkgl2l19] {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 30px;
        }

    .chart-layout .chart[b-ntxkgl2l19] {
        width: 121%;
        height: 100%;
        background-color: #fff;
        border-radius: 30px;
    }

.other[b-ntxkgl2l19] {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);
}

    .other .card[b-ntxkgl2l19] {
        background-color: #fff;
        border-radius: 30px;
    }
