aside[b-1hmup4yn36] {
    width: 100px;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

aside .logo[b-1hmup4yn36] {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

aside nav ul[b-1hmup4yn36] {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 540px;
    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

aside nav ul[b-1hmup4yn36]::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    background: linear-gradient(to top, transparent, #EFEEF1);
    top: 103px;
}

aside nav ul[b-1hmup4yn36]::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, transparent, #EFEEF1);
    bottom: 103px;
}