section header[b-9dwqgc5vuy] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    background-color: #EFEEF1;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

section header nav ul[b-9dwqgc5vuy] {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

section header nav ul li[b-9dwqgc5vuy] {
    padding: 15px 20px;
    border-radius: 50px;
    background-color: var(--primary);
}

section header nav ul li a[b-9dwqgc5vuy] {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.right[b-9dwqgc5vuy] {
    display: flex;
    gap: 10px;
}


.right button[b-9dwqgc5vuy] {
    padding: 20px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.right .theme-switcher[b-9dwqgc5vuy] {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #E5E7E9;
}

.right .theme-switcher i[b-9dwqgc5vuy] {
    z-index: 1;
}


.right .theme-switcher[b-9dwqgc5vuy]::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.right .theme-switcher.active[b-9dwqgc5vuy]::before {
    left: 50px; 
}